<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://www.springframework.org/schema/task     
    http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<!-- 自动扫描的包名 -->
	<context:component-scan base-package="molab" />

	<!-- 默认的注解映射的支持 -->
	<context:annotation-config />
	<mvc:annotation-driven />
	<tx:annotation-driven />
	<task:annotation-driven />

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="packagesToScan" value="molab.main.java.entity"></property>
	</bean>
	
	<!-- hibernate transaction -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate"
		p:sessionFactory-ref="sessionFactory" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		p:sessionFactory-ref="sessionFactory" />
	<aop:config>
		<aop:pointcut
			expression="execution(* molab.main.java.service.*Service.*(..))"
			id="serviceMethod" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethod" />
	</aop:config>
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 视图解释类 -->
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	</bean>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="molab.main.java.util.fileupload.CommonsMultipartResolverExt"
		p:defaultEncoding="UTF-8" p:uploadTempDir="upload/" />
		
	<!-- 定时器 -->
	<bean id="timerTask" class="molab.main.java.service.TimerTaskService" />  
    <task:scheduled-tasks>  
    	<task:scheduled ref="timerTask" method="runDispatcher" cron="0 0/10 * * * ?" />
    	<task:scheduled ref="timerTask" method="runSubtask" cron="0 0 1 * * ?" />
    	<task:scheduled ref="timerTask" method="runTask" cron="0 0 3 * * ?" />
    </task:scheduled-tasks>

	<!-- 拦截器 -->
	<mvc:interceptors>
		<bean class="molab.main.java.util.Interceptor" />
	</mvc:interceptors>
	
</beans>